name: Deploy Vite React.js to Server

on:
  push:
    branches:
      - main   # change if your branch is different
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/biocliq_website
            git pull
            export PATH="/home/yogesh/.nvm/versions/node/v20.17.0/bin:$PATH"
            pnpm install
            command -v pm2 >/dev/null 2>&1 || pnpm install -g pm2
            pnpm run build
